{%load static%}
<nav class="navbar">
  <div class="container">
    <a href="{%url 'index'%}" class="navbar-brand">
      <img class="logo" src="{% static 'img/netflix_logo.png' %}" alt="" />
    </a>

    <form action="{%url 'movies' %}" class="d-flex" role="search">
      <input
        name="search"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <form class="d-flex" action="">
      <div class="dropdown">
        <a
          href=""
          class="btn text-white dropdown-toggle"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span><img src="{% static 'img/world.png' %}" alt="" /></span>Türkçe
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a href="" class="dropdown-item">Türkçe</a></li>
          <li><a href="" class="dropdown-item">İngilizce</a></li>
        </ul>
      </div>
      {% if user.is_authenticated %}
      <a href="{%url 'hesap'%}" class="btn btn-danger mx-3" role="button"
        >{{request.user}}
      </a>
      {%else%}
      <a href="{%url 'login'%}" class="btn btn-danger mx-3" role="button">
        Oturum Aç
      </a>
      {% endif %}
    </form>
  </div>
</nav>
